<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chormetamodel -->
      <package
            uri="http://www.chor4integration.com/chormetamodel"
            class="com.chor4integration.chor4int.ChormetamodelPackage"
            genModel="model/chormetamodel.genmodel"/>
   </extension>

</plugin>
