<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated servicesmetamodel -->
      <package
            uri="http://www.chor4integration.com/servicesmetamodel"
            class="com.chor4integration.servicesmetamodel.ServicesmetamodelPackage"
            genModel="model/servicesmetamodel.genmodel"/>
   </extension>

</plugin>
