<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated chormetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.chor4integration.chormetamodel.presentation.ChormetamodelModelWizardID"
            name="%_UI_ChormetamodelModelWizard_label"
            class="com.chor4integration.chormetamodel.presentation.ChormetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ChormetamodelModelFile.gif">
         <description>%_UI_ChormetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated chormetamodel -->
      <editor
            id="com.chor4integration.chormetamodel.presentation.ChormetamodelEditorID"
            name="%_UI_ChormetamodelEditor_label"
            icon="icons/full/obj16/ChormetamodelModelFile.gif"
            extensions="chormetamodel"
            class="com.chor4integration.chormetamodel.presentation.ChormetamodelEditor"
            contributorClass="com.chor4integration.chormetamodel.presentation.ChormetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
