<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chor4integration -->
      <package
            uri="http://www.example.org/chor4integration"
            class="chor4integration.Chor4integrationPackage"
            genModel="model/chor4integration.genmodel"/>
   </extension>

</plugin>
